.container {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 530px repeat(1, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .container {
    display: grid;
    max-width: 280pxpx;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 560px repeat(1, 1fr);
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .container {
    display: grid;
    max-width: 100vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 650px repeat(1, 1fr);
  }
}
