.download-banner {
  grid-row: 6 / 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 30px;
  margin-bottom: 70px;
  background-image: url(/images/download-banner/download-banner__img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
}
.download-banner__content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 360px repeat(1, 1fr);
  grid-template-rows: 165px repeat(1, 1fr) 60px;
  padding-left: 40px;
  row-gap: 14px;
}
.download-banner__title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 33px;
  line-height: 1;
  color: white;
  margin: 0;
  display: flex;
  align-items: end;
}
.download-banner__button {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 130px;
  height: 40px;

  border-radius: 999px;
  overflow: hidden;

  /*  vidrio base */
  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  /*  borde tipo Apple */
  border: 1px solid rgba(255, 255, 255, 0.18);

  /*  sombra sutil */
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
    0 6px 18px rgba(0, 0, 0, 0.25);

  color: white;

  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s ease;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.download-banner__button:hover {
  transform: translateY(-2px) scale(1.02);

  background: rgba(255, 255, 255, 0.14);

  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35),
    0 10px 25px rgba(0, 0, 0, 0.4);
}
.download-banner__button:hover::after {
  animation: shine 0.8s ease;
}
.download-banner__button:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
.download-banner__button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.35),
    transparent
  );

  opacity: 0.2;
}
.download-banner__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -80%;

  width: 50%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );

  transform: skewX(-20deg);
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1279px) {
  .download-banner__title {
    font-size: 28px;
  }
  .download-banner__button {
    width: 95px;
    height: 34px;
  }
}
