.features {
  display: grid;
  grid-template-rows: 410px 50px 90px;
  row-gap: 50px;
  grid-row: 1 / 2;
}
.features__image {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
}
.features__title {
  grid-row-start: 2;
  color: white;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  margin: auto;
}
.features__logos {
  grid-row-start: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  padding: 0;
  margin-bottom: 50px;
}
.features__logo-item {
  width: 85px;
  height: 20px;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .features {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 200px 44px repeat(1, 1fr);
    row-gap: 30px;
    grid-row: 1 / 2;
  }
  .features__title {
    font-size: 15px;
  }
  .features__logo-item {
    width: 58px;
    height: 15px;
  }
  .features__logo-item_size {
    width: 53px;
    height: 11.5px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .features {
    display: grid;
    grid-template-rows: 381px 44px 80px;
    row-gap: 50px;
    grid-row: 1 / 2;
  }
  .features__image {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
  }
  .features__logo-item {
    width: 79px;
    height: 20px;
  }
  .features__logo-item_size {
    width: 70px;
    height: 15px;
  }
}
