.stats {
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 50px 40px repeat(1, 1fr);
  row-gap: 30px;
}
.stats__title {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 42px;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats__subtitle {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1;
  color: rgb(255, 255, 255, 0.6);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.stats__grid {
  grid-row-start: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.stats__container-graph {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2fd9c;
  border-radius: 20px;
}

.stats__card-graph {
  width: 330px;
  height: 220px;
}

.stats__container-centralize {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2fd9c;
  border-radius: 20px;
}
.stats__card-centralize {
  width: 330px;
  height: 220px;
}
.stats__container-double {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2fd9c;
  border-radius: 20px;
}
.stats__card-double {
  width: 330px;
  height: 220px;
}
.stats__container-activity {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2fd9c;
  border-radius: 20px;
}
.stats__card-activity {
  width: 330px;
  height: 220px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .stats {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 30px 28px repeat(1, 1fr);
    row-gap: 15px;
  }
  .stats__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 23px;
  }
  .stats__subtitle {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 7.5px;
  }
  .stats__grid {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: repeat(4, 1fr);
  }
  .stats__container-graph {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .stats__card-graph {
    width: 200px;
    height: 150px;
  }
  .stats__container-centralize {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow: hidden;
  }
  .stats__card-centralize {
    width: 200px;
    height: 150px;
  }
  .stats__container-double {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    overflow: hidden;
  }
  .stats__card-double {
    width: 200px;
    height: 150px;
  }
  .stats__container-activity {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    overflow: hidden;
  }
  .stats__card-activity {
    width: 200px;
    height: 150px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1279px) {
  .stats {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 38px 29px 463px;
    row-gap: 30px;
  }
  .stats__title {
    font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
  }
  .stats__subtitle {
    font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1;
    color: rgb(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    grid-row: 2 / 3;
  }
  .stats__grid {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }

  .stats__card-graph {
    width: 240px;
    height: 145px;
  }

  .stats__card-centralize {
    width: 240px;
    height: 145px;
  }

  .stats__card-double {
    width: 240px;
    height: 145px;
  }

  .stats__card-activity {
    width: 240px;
    height: 145px;
  }
}
